# rmkit-cn IME: 外部键盘插入/拔出时启停输入法
# 匹配所有 USB 键盘设备
ACTION=="add", SUBSYSTEM=="input", KERNEL=="event[0-9]*", ENV{ID_INPUT_KEYBOARD}=="1", TAG+="systemd", ENV{SYSTEMD_WANTS}+="rmkit-cn-ime-udev.service"
